.wrapper {
    margin-top:40px;
    width: 100%;
}

.wrapper hr {
 margin-bottom: 20px;   
}
.wrapper h3 {
   color:#cccccc; 
   font-size:45px;
   margin: 10px 0px 0px;
}

.box {
    padding: 10px; 
    background-color: #08fed4;
    background: #cccccc;
    background: linear-gradient(180deg, rgba(90,90,90,0.5) 0%, rgba(30,30,30,1) 70%);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 8px;
    margin-top: 0.5rem;
    margin-bottom: 20px;
}
.wrapper h3 span {
 font-weight: 100;
}

.bidButton {
    color: #08fed4; 
    text-align: left;
    background-color: transparent;
    border: 0;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;

}
.bidButton span {
    font-weight: 100;
}

.bestBid , .values{
    color: #cccccc;
}

.closePrice {
    color: #08fed4; 
}
